<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index_style.css">
  <title>HAR</title>
</head>
<body>
  <form action="/web_check_username_password" method="post">
    <label for="fname">Username:</label><br>
    <input type="text" id="fname" name="username" value="saimoon"><br>
    <label for="lname">Password:</label><br>
    <input type="password" id="lname" name="password" value="123"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>